:root {
        --active-color: #404BBF;
        --primary-color: #2E2F42;
        --secondary-color: #434455;
        --text-color: #000;
        
}

body {
        font-family: 'Roboto', sans-serif;
        color: var(--text-color);
}

ul {
        margin: 0;
        padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin: 0;
}

.list {
        list-style: none;
}

.link {
        text-decoration: none;
}

.container {
        max-width: 1158px; 
        padding: 0 15px;
        margin: 0 auto;
}

.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}

/* -----------HEADER---------- */

.header {
        border-bottom: 1px solid #E7E9FC;
}

.header-container {
        display: flex;
        align-items: center;
}

.header-navigation {
        display: flex;
        align-items: center;
        margin-right: auto;
        
}

.header-logo {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 76px;

        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: black;
}

.header-logo:hover,
.header-logo:focus {
        color: var(--active-color);
}
        

.header-logo-website {
        display: inline-block;
        color: #4D5AE5;
}

.header-list {
        display: flex;
        
        
}

.header-item:not(:last-child) {
        margin-right: 40px;
}

.header-link {
        padding-top: 24px;
        padding-bottom: 24px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: black;
        

}
.header-link:hover,
.header-link:focus,
.current {
        color: var(--active-color);
}

.header-adress {
        display: flex;
}

.adress-list {
        display: flex;
        margin-right: auto;
}

.adress-item:not(:last-child) {
        margin-right: 40px;
}

.adress-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: var(--secondary-color);
}
.adress-link:hover,
.adress-link:focus {
        color: var(--active-color);
}

/* --------HERO------- */

.hero {
        background-color: var(--primary-color);
        text-align: center;
}

.hero-title {
        display: inline-block;
        margin-bottom: 48px;
        padding-top: 188px;

        width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.09;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.container-hero-button {
        padding-bottom: 188px;
}
.hero-btn {
        display: inline-block;
        border-radius: 4px;
        padding: 16px 32px;
        

        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color: #4D5AE5;
        border: none;
        cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
        background-color: var(--active-color);
}

/* ---------FUTURES--------- */

.futures {}

.futures-list {
        display: flex;
        padding-top: 120px;
}

.futures-item:not(:last-child) {
        margin-right: 24px;
}

.futures-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.futures-text {
        margin-top: 8px;

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-color);
}

/* -------------DOING-------------- */

.doing {}

.doing-title {
        padding-top: 120px;
        margin-bottom: 72px;

        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.doing-list {
        display: flex;
        padding-bottom: 120px;
}

.doing-item:not(:last-child) {
        margin-right: 24px;
}

/* ---------------TEAM-------------- */

.team {
        background-color: #F4F4FD;
}

.team-title {
        margin-bottom: 72px;
        padding-top: 120px;

        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.team-list {
        display: flex;

}

.team-item:not(:last-child) {
        margin-right: 24px;
}

.team-container {
        padding-top: 32px;
        padding-bottom: 32px;

        background-color: #fff;
}

.team-subtitle {
        margin-bottom: 8px;

        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
}



.team-text {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--secondary-color);
}

/* -------------BENEFITS-------------- */

.benefits {}

.sort-list {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding-top: 96px;
        padding-bottom: 72px;
        align-items: center;
        justify-content: center;
}

.button-item {
        display: block;
}

.button-item:not(:last-child) {
        margin-right: 24px;
}

.sort-btn {
        display: inline-block;
        padding: 12px 24px;
        border: 1px solid #E7E9FC;
        border-radius: 4px;

        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        background-color: #F4F4FD;
        cursor: pointer;
}


.sort-btn:hover,
.sort-btn:focus {
        color: #FFFFFF;
        background-color: #404BBF;
}

.benefits-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.benefits-item{
        display: block;
}

.benefits-item:not(:nth-child(3n+3)) {
        margin-right: 24px;
}

.benefits-item:not(:nth-last-child(-n+3)) {
        margin-bottom: 48px;
}

.benefits-item:nth-last-child(-n+3) {
        padding-bottom: 120px;
}

.benefits-text-container{
        padding: 32px 16px;
        border: 1px solid #E7E9FC;
}

.benefits-subtitle {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.benefits-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-color);
}

/* ----------FOOTER---------- */

.footer {
        background-color: var(--primary-color);
}

.footer-logo {
        margin-bottom: 16px;
        padding-top: 100px;
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}

.footer-logo-website {
        color: #4D5AE5;
}

.footer-text {
        padding-bottom: 100px;

        width: 264px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #E7E9FC;
}